.box {
  width: 50px !important;
  height: 50px !important;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-card-container {
  position: absolute;
  top: 0;
  left: 0;
}

.dice-container {
  position: absolute;
  top: 0;
  right: 0;
}

.dice {
  height: 200px;
  width: 200px;
}

.invs-board {
  position: absolute;
  width: 100%;
  height: 100%;
}

.invs-box {
  width: 54.5px !important;
  height: 50px !important;
  display: flex;
  justify-content: space-evenly;
}

.invs-box img {
  width: 70%;
}

.ladders-board {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ladder {
  position: absolute;
}

#curr-player {
  background: #e19f65;
  border-radius: 25px;
  border: 5px solid #4b1a1a;
}
